body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ffffff, #cde9f3, #f3f1f2, #ffffff, #d1e7ef, #dbeff6, #ffffff, #cde9f3);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    margin: 0;
    padding: 0;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

  .person-info {
    text-align: center;
    margin-top: 50px;
  }
  
  h1, h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus {
    outline: none;
    border-color: #60aecb;
  }
  
  button {
    padding: 10px 20px;
    background-color: #60aecb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }
  
  button:hover {
    background-color: #257694;
    transform: translateY(-3px);
}
  
  #person-details {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .person-details-label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .person-details-value {
    color: #333;
  }
  